﻿@using X.PagedList.Mvc
@model X.PagedList.IPagedList<DemoEshop.BusinessLayer.DataTransferObjects.CustomerDto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            Firstname
        </th>
        <th>
            LastName
        </th>
        <th>
            Address
        </th>
        <th>
            Email
        </th>
        <th>
            MobilePhoneNumber
        </th>
        <th>
            BirthDate
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.ToList())
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobilePhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.ActionLink("Orders", "Orders", new {id = item.Id})
            </td>
        </tr>
    }

</table>

<div class="col-md-12">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
