﻿@using DemoEshop.PresentationLayer.Helpers.Cookies
@using DemoEshop.PresentationLayer.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Demo Eshop</title>
    @RenderSection("head", required: false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Demo Eshop", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav  navbar-left">
                    @if (User.IsInRole("Administrator"))
                    {
                        <li>@Html.ActionLink("Products", "Index", "AdminProducts")</li>
                        <li>@Html.ActionLink("Customers", "Index", "AdminCustomers")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("AdminProducts", "Index", "AdminProducts")</li>
                        <li>@Html.ActionLink("AdminCustomers", "Index", "AdminCustomers")</li>
                        <li>@Html.ActionLink("Products", "Index", "Products")</li>
                    }
                </ul>
                <ul class="nav navbar-nav  navbar-right">
                    @if (!this.ViewContext.RouteData.Values["controller"].ToString().Equals("ShoppingCart"))
                    {
                        <li class="pull-right">
                            <a href="/ShoppingCart">
                                <span class="glyphicon glyphicon-shopping-cart grey" style="margin-right: 5px;"></span>
                                @{
                                    var shoppingItemsCount = Request.GetAllShoppingCartItems("daisy@gmail.com").Count;
                                    if (shoppingItemsCount > 0)
                                    {
                                        <span class="label label-default label-pill "> @shoppingItemsCount items</span>
                                    }
                                }
                            </a>
                        </li>
                    }

                        <li class="dropdown pull-right">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user grey"></span> @User.Identity.Name.Split('@')[0] <b class="caret grey"></b></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">Account management</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="dropdown pull-right">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user grey"></span><b class="caret grey"></b></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">Get started</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Register", "Register", "Account")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Log in", "Login", "Account")</li>
                            </ul>
                        </li>

                    }
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-muted pull-right">&copy; @DateTime.Now.Year created by Martin Macák & Jaroslav Davídek</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
